* {
    margin: 0;
    box-sizing: border-box;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.btn {
    height: 3em;
    width: 40%;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: 1.1em;
}

.btn:hover {
    transform: scale(1.25);
}